html{
  margin:0;
  padding:0;
}
body{
  margin: 0;
  padding: 0;
}

#imagePage{
  /*width: 100%;
  height : auto;*/
  position: absolute;
  z-index: -1;
}

p{
  margin: 0;
  padding: 0;
  position:absolute;
  border-style: solid;
}
